* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.342);
}

header {
    height: 100%;
    background-color: #C5C5C5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23C5C5C5'/%3E%3Cstop offset='1' stop-color='%233F3F3D'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2396B9B6' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2396B9B6' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2396B9B6' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2396B9B6' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.76'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    writing-mode: vertical-lr;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: black 2px;
    border-right: 1px solid;
}

header>p {
    width: max-content;
    font-size: 32px;
    transform: rotate(180deg);
    font-weight: 600;
}

header>button {
    padding: 5px;
    margin-left: 20px;
    width: max-content;
    background-color: transparent;
    border: none;
    transform: rotate(270deg) translateY(-10px);
}

header>button:hover::after {
    content: 'hey';
    background-color: black;
    color: white;
    padding: 5px;
}

button svg {
    width: 50px;
    height: 50px;
}

article {
    height: 100%;
    background-color: rgba(240, 238, 238, 0.876);
    overflow-y: scroll;
}

article>div {
    background-color: white;
    width: 99%;
    height: 5%;
    outline: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 28px 5px 21px 0px rgba(45, 45, 45, 0.65);
}

/* handle with js */

article>div:active {
    width: 98%;
    box-shadow: 5px 3px 2px 2px rgba(74, 74, 74, 0.8);
}

article>div>p {
    margin: 0px;
    margin-right: 2px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.6;
    text-align: center;
    margin-left: auto;
    width: max-content;
    height: max-content;
    transform: rotate(-90deg);
}

article>div>div {
    width: 50%;
    height: 80%;
    transform: translateY(-55%);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1.5px 4px 2px rgba(74, 74, 74, 0.8);
}

article>div>div:active {
    box-shadow: 1.75px 1px 2.25px 1.25px rgba(74, 74, 74, 0.8);
}

article>div>div>p {
    margin: 0px;
    font-size: 14px;
    opacity: 0.8;
    color: white;
    text-align: center;
    margin-left: auto;
    width: max-content;
    height: max-content;
    transform: rotate(-90deg);
}
